<% if signed_in? %>
    <section class="col-1-4">
      <div class="module">
        <p>
          <%= render 'shared/user_info' %>
        </p>
      </div>
    </section>
    <section class="col-3-4">
      <div class="module">
        <h3><%=link_to "Current recipes", user_recipes_path(current_user)%></h3>
        <%= render 'shared/feed' %>
      </div>
   </section> 
<% else %>
  	<div class="col-1-2">
  		<div class="module module-hometitle">
  		  <h1>New user?</h1>
          <h1>Welcome to Recipe Binder!</h1>
          <p>
            <%= link_to "Sign up now!", signup_path, {:class => 'btn btn-signup'}%>
          </p>
       </div>
     </div>
  	 <div class="col-1-2">
       <%= render 'sessions/new'%>
     </div>     
<% end %> 
