<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<div class="container">
	<ul id="signup">
      <%= form_for(:session, url: sessions_path) do |f| %>
    
        <li><%= f.label :email %></li>
        <li><%= f.text_field :email %></li>

        <li><%= f.label :password %></li>
        <li><%= f.password_field :password %></li>

        <li><%= f.submit "Sign in", class: "btn btn-large btn-primary" %></li>
      <% end %>
   </ul>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
</div>
