<%= nested_form_for([@user,@recipe]) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
      
    <%= f.label :chef %>
    <%= f.text_field :chef %>
      
    <%= f.label :category %>
    <%= f.text_field :category %>
  </p>       	 
  <p>
    <%= f.fields_for :ingredients do |ingredient_field| %>     
      <%= render 'ingredients', :f => ingredient_field%>
    <% end%>
    <p><%= f.link_to_add "Add ingredient", :ingredients, class:"btn btn-warning" %></p>
  </p>  
  <p>
    <%= f.fields_for :steps do |step_field| %>
      <%= render 'steps', :f => step_field%>
        <% end %>
      <p><%= f.link_to_add "Add method", :steps, class:"btn btn-warning" %></p>
  </p>  
  <p><%= f.submit "Create my recipe", class: "btn btn-success" %></p>
<% end %>
