<%= form_for @recipe do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<p>
	<%= f.label :title %>
	<%= f.text_field :title %>

	<%= f.label :description %>
	<%= f.text_area :description, :rows => 2 %>

	<%= f.label :tag_list, "Tags (comma separated)" %>
	<%= f.text_field :tag_list %>
	<div id="preptime">
		<%= f.label :preptime, "Prep time" %>
		<%= f.text_field :preptime %>

		<%= f.select(:preptimeunits,options_for_select([['hours', "hours"], ['minutes', "minutes"]], "minutes")) %>
	</div>

	<div id="cookingtime">
		<%= f.label :cookingtime, "Cooking time" %>
		<%= f.text_field :cookingtime %>

		<%= f.select(:cookingtimeunits,options_for_select([['hours', "hours"], ['minutes', "minutes"]], "minutes")) %>
	</div>
</p>
<%= f.submit :id => 'modal-form-submit'%>
<% end %>
<div id="printHere"></div>