<div id="recipes">
<% if params[:view].nil? %>
	<div class="full">
		<%= render @recipes%>
	</div>
<% elsif params[:view] == 'grid'%>
	<div class="grid">
          <% for recipe in @recipes %>
            <div class="recipe">
              <div class="screenshot">
				<% if recipe.image?%>
					<%= image_tag recipe.image_url(:thumb), size: "120x120" %>
				<% else %>
					<%= image_tag('blank.png') %>
				<% end%>              	
              </div>
              <div class="name">
                <%= link_to recipe.title, recipe, remote: true %>
              </div>
				<div class="actions">
					<% if @user == current_user %>
						<%= link_to "remove", recipe_path(recipe), {:id => 'removeRecipe',:class => 'btn btn-mini btn-danger',:confirm => 'Are you sure?', :method => :delete} %>
					<% end %>
				</div>              
            </div>
          <% end %>
          <div class="clear"></div>		
	</div>
	<% elsif params[:view] == 'list'%>
		<table class="table table-striped">
          <tr>
            <th>Name</th>
            <th>Chef</th>
            <th>Added by</th>
            <th></th>
            <% if @user == current_user %>
            	<th></th>
            <% end %>
          </tr>
          <% for recipe in @recipes %>
            <tr>
              <td><%= recipe.title %></td>
              <td><%= recipe.chef %></td>
              <td><%= recipe.user.name %></td>
              <td><%= link_to "Details", recipe_path(recipe), :class => 'btn btn-mini btn-primary', remote: true%></td>
			  <% if @user == current_user %>
				 <td><%= link_to "remove", recipe_path(recipe), {:id => 'removeRecipe',:class => 'btn btn-mini btn-danger',:confirm => 'Are you sure?', :method => :delete} %></td>
			 <% end %>              
            </tr>
          <% end %>
        </table>
<% end %>
</div>
