<div id="recipes">
<% if params[:view].nil? %>
	<div class="full">
		<%= render @recipes%>
	</div>
<% elsif params[:view] == 'grid'%>
	<div class="grid">
          <% for recipe in @recipes %>
            <div class="recipe">
              <div class="screenshot">
				<% if recipe.picture.nil?%>
					<%= image_tag('blank.png', size: "200x125") %>
				<% else %>
					<%= image_tag recipe.picture.image_url(:thumb), size: "200x125" %>
				<% end %>              	
              </div>
              <div class="name">
                <%= link_to recipe.title, recipe, remote: true %>
                | <%= link_to "new image", new_recipe_picture_path(recipe), :class => 'btn btn-mini btn-success', :id => 'addPicture', remote: true %>
                <script id="template-upload" type="text/x-tmpl">
					<div class="upload">
  					{%=o.name%}
  					<div class="progress"><div class="bar" style="width: 0%;"></div></div>
					</div>
				</script>
              </div>
				<div class="actions">
					<% if @user == current_user %>
						<%= link_to "remove", recipe_path(recipe), {:id => 'removeRecipe',:class => 'btn btn-mini btn-danger',:confirm => 'Are you sure?', :method => :delete} %>
					<% end %>
				</div>              
            </div>
          <% end %>
          <div class="clear"></div>		
	</div>
	<% elsif params[:view] == 'list'%>
		<table class="table table-striped">
          <tr>
            <th>Name</th>
            <th>Added by</th>
            <th></th>
            <% if @user == current_user %>
            	<th></th>
            <% end %>
          </tr>
          <% for recipe in @recipes %>
            <tr>
              <td><%= recipe.title %></td>
              <td><%= recipe.user.name %></td>
              <td>
              	<%= link_to "Details", recipe_path(recipe), :class => 'btn btn-mini btn-success', remote: true%>
              	<%= link_to "Comments", recipe_comments_path(recipe), :class => 'btn btn-mini btn-warning', remote: true %>
              </td>
			  <% if @user == current_user %>
				 <td><%= link_to "remove", recipe_path(recipe), {:id => 'removeRecipe',:class => 'btn btn-mini btn-danger',:confirm => 'Are you sure?', :method => :delete} %></td>
			 <% end %>              
            </tr>
          <% end %>
        </table>
<% end %>
</div>
