<%= div_for recipe do %>
	<% if recipe.image?%>
		<%= image_tag recipe.image_url(:thumb), size: "120x120" %>
	<% else %>
		<%= image_tag('blank.png') %>
	<% end %>
	<h2><%= link_to_unless_current recipe.title, recipe, remote: true %></h2>
	<% if recipe.tag_list %>
	<p>
		Tags: <%= recipe.tag_list %>
	</p>
	<% end %>
	<em>added by <%= link_to recipe.user.name, recipe.user %></em>
<% end %>