<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Gallery</a></li>
    <li><a href="#tab2" data-toggle="tab">List</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <p>
      	<div id="recipes">
      	  <h3><%= @recipes.count %> Recipes</h3>
  		  <%= @recipes.each_slice(6) do |slice| %>
    	    <ul class="thumbnails">
              <% slice.each do |recipe| %>
        		<li class="span2">
          			<div class="thumbnail">
          				<% if recipe.image?%>
            			  <%= image_tag recipe.image_url(:thumb) %>
            			<% else %>
            			  <%= image_tag('blank.png') %>
            			<% end%>
            			<h5><%= recipe.title %></h5>
            			<p>
              				<div class="actions">
       		    				<%= link_to "Card", user_recipe_path(@user,recipe), {:class => 'btn btn-mini btn-primary', :id => 'recipeID'}%>
       		    			  <% if @user == current_user %>
       		    				<%= link_to "remove", user_recipe_path(@user,recipe), {:id => 'removeRecipe',:class => 'btn btn-mini btn-danger',:confirm => 'Are you sure?', :method => :delete} %>
       		    		      <% end %>
       		  				</div>
            			</p>
          			</div>
        		</li>
      		  <% end %>
    		</ul>
  	      <% end %>
  		  <%= will_paginate @recipes %>
		</div>
      </p>
    </div>
    <div class="tab-pane" id="tab2">
      <p>
      	<div id="recipes">
      	  <h3><%= @recipes.count %> Recipes</h3>
          <% @recipes.each do |recipe| %>
            <li>
           	  <h4><%= recipe.title %></h4>
       		  <%= link_to "Card", user_recipe_path(@user,recipe), {:class => 'btn btn-mini btn-primary', :id => 'recipeID'}%>
       		  <%= link_to "remove", user_recipe_path(@user,recipe), {:id => 'removeRecipe',:class => 'btn btn-mini btn-danger',:confirm => 'Are you sure?', :method => :delete} %>
            </li>
      	  <% end %>
  		  <%= will_paginate @recipes %>
		</div>
      </p>
    </div>
  </div>
</div>
