<%= div_for recipe do %>
	<% if recipe.user.name == current_user.name %>
		<% if recipe.picture.nil?%>
			<%= link_to_unless_current(image_tag('blank.png', size: "200x125", :id => 'image'), new_recipe_picture_path(recipe, {:view => params[:view]}), :id => 'addPicture', remote: true) %>
		<% else %>
			<%= link_to_unless_current(image_tag(recipe.picture.file_url(:thumb), size: "200x125", :id => 'image'), new_recipe_picture_path(recipe, {:view => params[:view]}), :id => 'addPicture', remote: true) %>
		<% end %>              	
	<%else%>
		<% if recipe.picture.nil?%>
			<%= image_tag('blank.png', size: "200x125") %>
		<% else %>
			<%= image_tag(recipe.picture.file_url(:thumb), size: "200x125", :id => 'image') %>
		<% end %>              	
	<%end%>
	<h2><%= link_to_unless_current recipe.title, recipe, remote: true %></h2>		
	<div class="description"><%= recipe.description %>
		<% if recipe.tag_list %>
			<p>
				<em>Tags:</em> <%= recipe.tag_list %>
			</p>
		<% end %>
		<em>added by <%= link_to recipe.user.name, recipe.user %></em>
		<p>
			<em><%= link_to "#{recipe.comments.count} Comments", recipe_comments_path(recipe), remote: true %></em>
		</p>
	</div>
<% end %>