<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4> Recipe card for <%= @recipe.title%></h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="span6">
      <h4>Ingredients</h4>
      <%= form_tag addto_items_path(@user), method: :put, remote: true do %>
        <table id="ingredients">
          <tr>
            <th></th>
            <th></th>
          </tr>
          <% @ingredients.each do |ingredient| %>
            <tr>
              <td><%= check_box_tag "ingredient_ids[]", ingredient.id %></td>
              <td><%= ingredient.content %></td>
            </tr>
          <% end %>
        </table> 
        <div id="addtolistbtn"><%= submit_tag "Add to shopping list", :class => "btn btn-primary"%></div>   
      <% end%>
    </div>
  </div>
  <div class="row">
    <div class="span6">
      <h4>Method</h4>
      <ol>
        <% @steps.each do |step| %>
          <li> 
            <%= step.content%>
          </li>
        <%end%>
      </ol>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  <% if @recipe.user == current_user %>
  	<%= link_to 'Edit', edit_recipe_path(@recipe), :class => "btn btn-primary", remote: true%>
  <% end %>
</div>

