<div class="row-fluid">
	<aside class="span2">
		<h3><a href="<%= user_path(current_user) %>"> <%= gravatar_for current_user %>
		<%= current_user.name %> </a></h3>
		<% if current_user %>
		<section id="newRecipeSection">
			<li>
				<%= link_to "New Recipe!", new_recipe_path, :id => "newRecipeBtn", :class => "btn btn-primary", remote: true %>
			</li>
		</section>
		<section>
			<li>
				<%= link_to "Shopping List", items_path, :class => "btn btn-primary", :id => "shoppingList", remote: true %>
			</li>
		</section>
		<% end %>
		<section>
		  <div id="tag_cloud">
		    <% tag_cloud Recipe.tag_counts, %w{s m l} do |tag, css_class| %>
			<%= link_to tag.name, tag_path(tag.name), class: css_class %>
		    <% end %>
		  </div>
		</section>
	</aside>
	<div class="span10" id="recipes_section">
		<%= render "recipes" %>
	</div>
</div>
