<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
       <%= link_to "New Recipe!", new_user_recipe_path(@user), class: "btn btn-large btn-primary" %>
     </section>
  </aside>
  <div class="span8">
    <% if @user.recipes.any? %>
      <h3><%= @user.recipes.count %> Recipes</h3>
      <%= render "recipes/recipes" %>
      <%= will_paginate @recipes %>
    <% end %>
  </div>
</div>