<% provide(:title, @user.name) %>
  <div class="row-fluid">
    <aside class="span2">
      <h3>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h3>
      <% if @user == current_user %>
        <section id="newRecipeSection">
          <li><%= link_to "New Recipe!", new_user_recipe_path(@user), {:id => "newRecipeBtn", :class => "btn btn-primary"} %></li>
	      <li><%= link_to "New Shopping List!", user_lists_path(@user), {:class => "btn btn-primary"} %></li>
       
        </section>
      <% end %>
      </aside>
    <div class="span10">
      <%= render 'users/follow_form' if signed_in? %>
      <% if @user.recipes.any? %>
        <%= render "recipes/recipes" %>
        <%= will_paginate @recipes %>
      <% end %>
  </div>
</div>
