<% provide(:title, @user.name) %>
  <div class="row-fluid">
    <aside class="span2">
      <h3>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h3>
      <% if @user == current_user %>
        <section>
          <%= link_to "New Recipe!", new_user_recipe_path(@user), class: "btn btn-primary" %>
        </section>
      <% end %>
      </aside>
    <div class="span10">
      <%= render 'users/follow_form' if signed_in? %>
      <% if @user.recipes.any? %>
        <%= render "recipes/recipes" %>
        <%= will_paginate @recipes %>
      <% end %>
  </div>
</div>
