
  <div class="row-fluid">
    <aside class="span2" id="userInfo">
      <h3>
      	<a href="<%= user_path(current_user) %>">
          <%= gravatar_for current_user %>
          <%= current_user.name %>
        </a>
      </h3>
      <% if current_user %>
        <section id="newRecipeSection">
          <li><%= link_to "New Recipe!", new_recipe_path, :id => "newRecipeBtn", :class => "btn btn-primary", remote: true %></li>
        </section>
        <section>
	      <li><%= link_to "Shopping List", items_path, {:class => "btn btn-primary", :id => "shoppingList"} %></li>
        </section>
      <% end %>
      </aside>
    <div class="span10">
      <%= render "recipes" %>
  </div>
</div>
