<div class="row-fluid">
	<aside class="span2">
		<h3><a href="<%= user_path(current_user) %>"> <%= gravatar_for current_user %>
		<%= current_user.name %> </a></h3>
		<% if current_user %>
		<section id="newRecipeSection">
			<li>
				<%= link_to "New Recipe!", new_recipe_path, :id => "newRecipeBtn", :class => "btn btn-primary", remote: true %>
			</li>
		</section>
		<section>
			<li>
				<%= link_to "Shopping List", items_path, :class => "btn btn-primary", :id => "shoppingList", remote: true %>
			</li>
		</section>
		<% end %>
	</aside>
	<div class="span8" id="recipes-section">
		<% if @tag || params[:search].present? %>
		<div class="filters">
			<strong>Filtering:</strong>
			<% if params[:search].present? %>
				<span class="filter"><%= params[:search] %> <%= link_to "x", params.merge(:search => nil, :page => nil) %></span>
			<% end %>
			<% if @tag %>
				<span class="filter"><%= @tag.name %> <%= link_to "x", params.merge(:tag => nil, :page => nil) %></span>
			<% end %>
		</div>
		<% end %>
		<h3><%= @recipes.count %> Recipes</h3>	
		<%= render "recipes" %>
	</div>
	<aside class="span2">
		<h4 id="views">
			View:
			<div class="btn-group">
				<%= link_to "Full", params.merge(:view => nil, :page => nil), :title => "Full View", :class => 'btn' %>
				<%= link_to "List", params.merge(:view => "list", :page => nil), :title => "List View", :class => 'btn' %>
				<%= link_to "Grid", params.merge(:view => "grid", :page => nil), :title => "Grid View", :class => 'btn' %>
			</div>
		</h4>	
		<section>
		  <div class="categories">
		  	<h2>Categories</h2>
		  	  <ul>
		    	<% @all_tags.each do |tag| %>
					<li><%= link_to tag, tag_path(tag)%></li>
		    	<% end %>
		      </ul>
		  </div>
		</section>
		
	</aside>
</div>
