<div class="row-fluid">
	<aside class="span2">
	</aside>
	<div class="span8" id="recipes-section">	
		<% if @tag || params[:search].present? %>
		<div class="filters">
			<h4>Filtering:
			<% if params[:search].present? %>
				<span class="filter"><%= params[:search] %> <%= link_to "x", params.merge(:search => nil, :page => nil) %></span>
			<% end %>
			<% if @tag %>
				<span class="filter"><%= @tag.name %> <%= link_to "x", params.merge(:tag => nil, :page => nil) %></span>
			<% end %>
			</h4>
		</div>
		<% end %>
		<span id="newRecipeSection">
			<p>
				<%= link_to "New Recipe!", new_recipe_path, :id => "newRecipeBtn", :class => "btn btn-primary", remote: true %>
				<%= link_to "Shopping List", items_path, :class => "btn btn-primary", :id => "shoppingList", remote: true %>
			</p>
		</span>		
		<%= render "recipes" %>
		<%= will_paginate @recipes %>
	</div>
	<aside class="span2">
		<h4 id="views">
			<div class="btn-group">
				<button class='btn btn-primary' id="views" disabled="disabled">View:</button>
				<%= link_to params.merge(:view => nil, :page => nil), :title => "Full View", :class => 'btn btn-primary' do %>
					<i class="icon-th-list icon-white"></i>
				<% end %>
				<%= link_to params.merge(:view => "list", :page => nil), :title => "List View", :class => 'btn btn-primary' do%>
					<i class="icon-align-justify icon-white"></i>
				<% end %>				
				<%= link_to params.merge(:view => "grid", :page => nil), :title => "Grid View", :class => 'btn btn-primary' do%>
					<i class="icon-th-large icon-white"></i>
				<% end %>				
			</div>
		</h4>			
		<section>
			<% unless @all_tags.nil?%>
		  		<div class="categories">
		  			<h2>Categories</h2>
		  	  		<ul>
		    			<% @all_tags.each do |tag| %>
							<li><%= link_to tag, tag_path(tag)%></li>
		    			<% end %>
		      		</ul>
		  		</div>
		  	<% end %>
		</section>
		
	</aside>
</div>
