<div class="col-1-0">
  <div class="module module-signup">
    <% provide(:title, 'Sign up') %>
      <div class="formcontainer">
      	<h1>Sign up</h1>
        <%= form_for(@user) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>

          <div class="single-field">
			<%= f.label :name %>
            <%= f.text_field :name %>
          </div>
            
          <div class="single-field">
            <%= f.label :email %>
            <%= f.text_field :email %>
          </div>
            
		  <div class="single-field">
			<%= f.label :password %>
            <%= f.password_field :password %>
          </div>
            
          <div class="single-field">
			<%= f.label :password_confirmation, "Confirm" %>
            <%= f.password_field :password_confirmation %>
          </div>
            
          <div class="single-field">
            <%= f.submit "Create my account", {:class => "btn btn-newuser"}%>
          </div>
            
        <% end %>
      </div>
  </div>
</div>  
