<div class="row-fluid">
	<aside class="span2">
	</aside>
	<div class="span10">
		<div class="row">
			<aside class="span3">
				<h3> 
		  			<%= gravatar_side_for current_user %>
		  			<%= current_user.name %> 
				</h3>
			</aside>
			<div class="span7">
				<section>
					<h2>My recipes</h2>
						<%= render 'feed' %>
				</section>
				<section id="newRecipeSection">
					<%= link_to "New Recipe!", new_recipe_path, :id => "newRecipeBtn", :class => "btn btn-primary", remote: true %>
					<%= link_to "All recipes", recipes_path, :class => "btn btn-primary" %>
					<%= link_to "Shopping List", items_path, :class => "btn btn-primary", :id => "shoppingList", remote: true %>
				</section>
			</div>
		</div>
	</div>
</div>
