<% provide(:title, @user.name) %>
  <section class="col-1-4">
    <div class="module">
      <h3>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h3>
    </div>
    <section>
       <%= link_to "New Recipe!", new_user_recipe_path(@user), class: "btn btn-large btn-primary" %>
     </section>
  </section>
  <section class="col-3-4">
  	<div class="module">
      <% if @user.recipes.any? %>
        <h3>Recipes (<%= @user.recipes.count %>)</h3>
        <%= render "recipes/recipes" %>
        <%= will_paginate @recipes %>
      <% end %>
    </div>
  </section>
