<% provide(:title, @user.name) %>
  <div id="sidebar">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
       <%= link_to "New Recipe!", new_user_recipe_path(@user), class: "btn btn-large btn-primary" %>
     </section>
  </div>
  <div id="main">
    <% if @user.recipes.any? %>
      <h3>Recipes (<%= @user.recipes.count %>)</h3>
      <%= render "recipes/recipes" %>
      <%= will_paginate @recipes %>
    <% end %>
  </div>
