<div class="fixed contain-to-grid">
  <nav class="top-bar">
    <ul>
      <li class="name"><h1><%= link_to "Recipe Binder", root_path, id: "logo"%></h1></li>
      <li class="toggle-topbar"><a href="#"></a></li>
    </ul>
    <Section>
        <ul class="right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Help", help_path %></li>
          <% if signed_in? %>
            <li><%= link_to "Users", users_path %></li>
            <li class="has-dropdown">
              <a href="#">Account</a>
              <ul class="dropdown">
                <li><%= link_to "Recipes", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
    </section>
  </nav>
</div>
